body {
    text-align: center;
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}


/*what is this?
*/

@media print {
    html,
    body {
        height: auto;
    }
}

#bottom{
  width: 200px;
  height: 200px;
}

#rainAnimation{
  display: none;
  position: fixed;
  height:100vh;
}


#parent{

}
