body {
    text-align: center;
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}


@media print {
    html,
    body {
        height: auto;
    }
}

#bottom{
  width: 200px;
  height: 200px;
}
