html {
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/rocks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-shadow: 2px 2px 8px black;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

hr {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

form button {
    text-shadow: 2px 2px 8px black;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: white;
}


/*button {
    height: 40px;
    width: 62px;
    margin-bottom: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;

    font-size: 16px;
}*/

#address {
    width: 35%;
    height: 32px;
    font-size: 22px;
    font-weight: 100;
}

#right {
    float: left;
    width: 20%;
    height: 100%;
}

#search {
    height: 100%;
    font-size: 36px;
    text-align: center;
    padding-bottom: 40px;
}

#nav {
    height: 20px;
}

#wrapper {
    border: solid white 2px;
    background-color: rgba(0, 0, 0, .2);
    height: 500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

#left {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
}

#inner-wrap {
    float: left;
    margin: auto;
    height: 100%;
    width: 60%
}

#map_canvas {
    float: left;
    border-left: solid white;
    border-right: solid white;
    float: left;
    margin: auto;
    text-shadow: 0 0 0 black;
    color: black;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    margin-top: -40px;
}

#right {
    text-align: center;
    float: left;
    width: 20%;
    height: 100%;
}

#bottom {
    width: 200px;
}


/*what is this?
*/

@media print {
    html,
    body {
        height: auto;
    }
}
